<!DOCTYPE html>
<html>
<head>
  <title>Form Template</title>
</head>
<body>
  <div class = "container">
    <form method="POST">
    {{form}}
    {% csrf_token %}
    <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
