<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>Third APP</title>
  <link rel = "stylesheet" href = "{% static "css/first.css" %}"/>
</head>
<body>
  <h1>hi, {{a}}</h1>
  <p><img src = "{% static "images/sonali.jpg" %}" alt = "Uhh, dont show it"></p>
</body>
</html>
